body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
.app-container {
  text-align: center;
}
.header, .footer {
  background: linear-gradient(135deg, #ff6a00, #ee0979);
  color: white;
  padding: 20px;
}

    .product-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      transition: transform 0.3s ease;
    }
    
    
    
    @media (min-width: 900px) {
      .product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }
    
    
    @media (max-width: 599px) {
      .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    .product-item {
      overflow: hidden;
      min-width: 100px;
      margin:5px ;
      flex-grow:1 ;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    
    .product-image {
      max-width: 300px;
      min-width: 100px;
      height: 300px;
      margin: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      object-fit: contain;
      transition: transform 0.7s ease
    }
    .product-image:hover{
      transform: scale(1.1);
    }
    
    .product-item:hover {
      /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    }
    
   */
    
    .sidebar {
      position: absolute;
      width: 0;
      height: 100vh;
      overflow: hidden;
      background-color: #111;
      color: white;
      transition: width 0.3s ease;
      padding-top: 60px;
    }
    
    .sidebar.open {
      width: 250px;
      /* Full width when open */
    }
    
    .open-btn {
      position: fixed;
      top: 20px;
      left: 20px;
      padding: 15px;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
    
    .content {
      margin-left: 20px;
      padding: 20px;
    }
    
    /* ====================SETTINGS STYLES======================================= */
    /* src/Settings.css */
    
    .app-container {
      display: flex;
      height: 100vh;
    }
    
    .sub-column {
      justify-content: center;
      align-items: center;
      flex: 1;
      background: #fff;
      box-sizing: border-box;
    
    }
    
    h1 {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-left: 10px;
    }
    
    .settings-item {
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding: 15px 10px;
      border-bottom: 1px solid #ddd;
      transition: background-color 0.3s;
    }
    
    .setting {
      display: flex;
      align-items: center;
      justify-content: left;
      padding: 10px;
      border-bottom: 1px double #ddd;
    
    }
    .settings-item:hover {
      background-color: #63bcec;
    }
    
    .Icon {
      font-size: 60px;
      margin-right: 20px;
      color: black;
    }
    
    .settings-item h2 {
      margin: 0 0 5px;
    }
    
    .settings-item p {
      margin: 0;
      color: #777;
    }
    .bar {
      position: fixed;
      border-right: 1px solid #000;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background: #fff;
      color: #000;
      padding: 20px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
    
    .bar.open {
      transform: translateX(0);
    }
    
    .bar .close-btn {
      width: 20px;
      background: none;
      float: right;
      color: #000;
      font-size: 20px;
      cursor: pointer;
      margin-bottom: 50px;
    }
    
    .toggle {
      width: 20px;
      position: fixed;
      top: 20px;
      left: 10%;
      padding: 15px;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
    /* =================================PROFILE STYLES========================================== */
    /* src/Profile.css */
    
    
    .person {
      display: flex;
      flex-direction: column;
      font-family: Arial, sans-serif;
      background-color: #f0f2f5;
      align-items: center;
      justify-content: center;
    }
    
    .main-content {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 20px;
      max-width: 1200px;
    }
    
    .profile-header {
      /* display: flex;
        flex-direction: column; */
      align-items: center;
      padding: 10px;
      background-color: black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .cover-photo img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
    
    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -100px;
    }
    
    h9 {
      padding-top: 5px;
      font-size: 20px;
      color: white;
    }
    
    h5 {
      color: white;
    }
    
    .profile-pic {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 3px solid #fff;
    }
    
    .btn-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      /* margin-top: -100px;
        margin-bottom: 100px; */
      justify-content: space-between;
    }
    
    .follow-btn {
      display: flex;
      width: 20%;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    
    .message-btn {
      display: flex;
      border-radius: 10px;
      width: 20%;
      align-items: center;
      justify-content: center;
      background-color: #595a5c;
      color: #fff;
      cursor: pointer;
      border: 1px solid white;
    }
    
    .reset-btn {
      display: flex;
      border-radius: 10px;
      width: 20%;
      align-items: center;
      justify-content: center;
      background-color: red;
      color: #fff;
      cursor: pointer;
      border: 1px solid white;
    }
    
    .save-btn {
      display: flex;
      border-radius: 10px;
      width: 20%;
      align-items: center;
      justify-content: center;
      background-color: green;
      color: #fff;
      cursor: pointer;
      border: 1px solid white;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    .user-info,
    .videos,
    .gallery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #9a9b9c;
      padding: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      gap: 10px;
      transition: transform 0.3s ease;
    }
    
    .user-info:hover,
    .videos:hover,
    .gallery:hover {
      transition: 0.2s ease-in-out;
      background: #fff;
      color: black;
    }
    
    .user-info button,
    .videos button,
    .gallery button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 10px;
    }
    
    .video-grid,
    .gallery-grid {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .video,
    .gallery-item {
      background-color: #f0f2f5;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
    }
    
    @media (min-width: 768px) {
      .content {
        flex-direction: row;
        justify-content: space-between;
      }
    
      .user-info,
      .videos,
      .gallery {
        width: 30%;
      }
    }
    
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }
    
    .modal.open {
      display: flex;
    }
    
    .modal-content {
      background-color: hsla(0, 15%, 88%, 0.815);
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 500px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .close-button {
      color: black;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close-button:hover,
    .close-button:focus {
      color: red;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal form {
      display: flex;
      flex-direction: column;
    }
    
    .modal label {
      margin-bottom: 10px;
    }
    
    .modal input {
      outline: none;
      margin-left: 10px;
      color: white;
      background: #212121;
      padding: 10px;
      margin-top: 5px;
      border-left: 1px solid #ccc;
    }
    
    */
*/

    .product-name {
  font-weight: bold;
}
.product-price {
  color: #ff6a00;
} 
.add-to-cart {
  background: #ff6a00;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px;
}
